Repository aztfmod/terraform-azurerm-caf, pull requests merged in 2022-06, with the labels that each got.

#1193 fix remote objects for flexible server to prevent evaluation issues
  postgresql_flexible_servers.tf
Labels: bug

#1205 Add support for admin_ssh_keys for linux vm
  examples/compute/virtual_machine/112-ssh-key/configuration.tfvars
  examples/compute/virtual_machine/112-ssh-key/readme.md
  modules/compute/virtual_machine/admin_ssh_key.tf
  modules/compute/virtual_machine/main.tf
  modules/compute/virtual_machine/mssql_vm.tf
  modules/compute/virtual_machine/vm_linux.tf
Labels: enhancement, virtual machines

#1208 Update for random provider
  locals.tf
  main.tf
  modules/analytics/synapse/workspace.tf
  modules/azuread/applications/module.tf
  modules/azuread/credentials/password_rotation.tf
  modules/azuread/service_principal_password/module.tf
  modules/azuread/users/user.tf
  modules/compute/aks/aks.tf
  modules/compute/virtual_machine/mssql_vm.tf
  modules/compute/virtual_machine/vm_legacy.tf
  modules/compute/virtual_machine/vm_windows.tf
  modules/compute/virtual_machine_scale_set/vmss_linux.tf
  modules/compute/virtual_machine_scale_set/vmss_windows.tf
  modules/databases/mariadb_server/server.tf
  modules/databases/mssql_managed_instance/managed_instance.tf
  modules/databases/mssql_server/server.tf
  modules/databases/postgresql_flexible_server/server.tf
  modules/databases/postgresql_server/server.tf
  modules/random_string/module.tf
  random_string.tf
Labels: bug

#1196 Add private endpoint support for webapps
  app_services.tf
  modules/webapps/appservice/private_endpoint.tf
  modules/webapps/appservice/variables.tf
Labels: enhancement

#1211 CI feedbacks fixes
  .github/workflows/standalone-scenarios-additional.json
  .github/workflows/standalone-scenarios.json
  aks_clusters.tf
  modules/compute/aks/aks.tf
  modules/databases/mssql_server/server.tf
  modules/databases/mysql_flexible_server/server.tf
Labels: bug

#1203 Adding remote resource group support to IP groups
  .github/workflows/standalone-scenarios.json
  examples/networking/ip_group/102-remote-rg-ip_group/configuration.tfvars
  examples/networking/ip_group/102-remote-rg-ip_group/networking.tfvars
  modules/networking/ip_group/module.tf
  modules/networking/ip_group/variables.tf
  networking_ip_groups.tf
Labels: enhancement, networking

#1212 Add optional encryption_at_host_enabled value
  modules/compute/virtual_machine/vm_linux.tf
  modules/compute/virtual_machine/vm_windows.tf
Labels: enhancement, virtual machines

#1215 Allows to deploy a keyvault's private endpoint in a remote resource group.
  examples/keyvault/101-keyvault-policies/keyvaults.tfvars
  modules/security/keyvault/private_endpoints.tf
Labels: bug, keyvault

#1214 Add storage accounts encryption scopes and update CMK support
  .github/workflows/standalone-scenarios.json
  examples/storage_accounts/109-storage-account-advanced-options-cmk/configuration.tfvars
  modules/security/keyvault_key/output.tf
  modules/storage_account/encryption_scope/module.tf
  modules/storage_account/encryption_scope/variables.tf
  modules/storage_account/managed_identities.tf
  modules/storage_account/storage_account.tf
  modules/storage_account/variables.tf
  storage_accounts.tf
Labels: enhancement, storage services

#1218 Update vnet dns_servers to remote azure firewall
  modules/networking/private_endpoint/private_endpoint.tf
  modules/networking/virtual_network/module.tf
Labels: bug, azure firewall, private dns

#1219 Fixing Data Explorer Attached database scenario
  data_explorer.tf
  examples/data_explorer/105-kusto_attached_database_configuration/configuration.tfvars
Labels: bug, data explorer

#1222 Fix vnet connection propagation to route tables ids
  networking_virtual_hub_connection.tf
Labels: bug

#1223 Update azurerm_firewall_policy_rule_collection_groups
  modules/networking/firewall_policy_rule_collection_groups/firewall_policy_rule_collection_groups.tf
Labels: enhancement, breaking-change

#1224 Update optional attributes on dns_config
  modules/compute/container_group/container_group.tf
Labels: enhancement, container_groups

#1217 Fix ssl_profile for app gateway
  examples/app_gateway/210-agw-with-keyvault/application_gateways.tfvars
  modules/networking/application_gateway/application_gateway.tf
Labels: bug, app_gateway

#1225 Add support for azurerm_log_analytics_linked_service to link automation account and log analytics workspace
  automations.tf
  examples/automation/101-automation-account-linked/configuration.tfvars
  examples/module.tf
  examples/variables.tf
  local.remote_objects.tf
  locals.combined_objects.tf
  locals.tf
  modules/automation_log_analytics_links/module.tf
  modules/automation_log_analytics_links/output.tf
  modules/automation_log_analytics_links/variables.tf
Labels: enhancement
