Repository aztfmod/terraform-azurerm-caf, pull requests merged in 2022-10, with the labels that each got.

#1372 Adding Azure Red Hat OpenShift
  .devcontainer/docker-compose.yml
  .github/workflows/standalone-regressor-tf100.yaml
  .github/workflows/standalone-scenarios.json
  .github/workflows/standalone-tf100.yaml
  .pre-commit-config.yaml
  azure_redhat_openshift.tf
  examples/compute/azure_redhat_openshift/101_basic_private_cluster/aro.tfvars
  examples/compute/azure_redhat_openshift/101_basic_private_cluster/principal.tfvars
  examples/compute/azure_redhat_openshift/101_basic_private_cluster/vnet.tfvars
  examples/compute/azure_redhat_openshift/102_basic_public_cluster/aro.tfvars
  examples/compute/azure_redhat_openshift/102_basic_public_cluster/principal.tfvars
  examples/compute/azure_redhat_openshift/102_basic_public_cluster/vnet.tfvars
  examples/module.tf
  examples/variables.tf
  locals.tf
  main.tf
  modules/azuread/applications/output.tf
  modules/azuread/applications_v1/output.tf
  modules/azuread/groups/output.tf
  modules/compute/azure_redhat_openshift/aro.tf
  modules/compute/azure_redhat_openshift/locals.tf
  modules/compute/azure_redhat_openshift/main.tf
  modules/compute/azure_redhat_openshift/outputs.tf
  modules/compute/azure_redhat_openshift/variables.tf
  modules/messaging/eventgrid/eventgrid_event_subscription/output.tf
  rover_on_ssh_host.yml
Labels: new submodule

#1371 Private IP address optional for App Gateway
  modules/networking/application_gateway_platform/locals.networking.tf
Labels: bug, app_gateway

#1373 Both certificates and certificate requests added as a dependency for agw
  application_gateway_platforms.tf
  application_gateways.tf
Labels: app_gateway

#1381 Bug/agw ssl_cert dependencies
  modules/networking/application_gateway_application/http_settings.tf
  modules/networking/application_gateway_application/probe.tf
  modules/networking/application_gateway_application/root_cert.tf
  modules/networking/application_gateway_application/ssl_cert.tf
Labels: bug, app_gateway

#1339 feat: adding support for 'static_site_custom_domain' within 'static_site' module
  examples/webapps/static_site/102-static-web-app-custom-domain/configuration.tfvars
  modules/webapps/static_site/custom_domain.tf
  modules/webapps/static_site/output.tf
  modules/webapps/static_site/variables.tf
  static_sites.tf
Labels: webapps

#1387 Add support for max_message_size_in_kilobytes
  examples/messaging/servicebus/100-servicebus-services/configuration.tfvars
  modules/messaging/servicebus/topic/topic.tf
Labels: enhancement, service_bus

#1367 Add support for literals azuread_group_id in sql managed instances
  examples/mssql_mi/200-mi-two-regions/configuration.tfvars
  examples/mssql_mi/200-mi/configuration.tfvars
  msssql_managed_instances.tf
Labels: enhancement

#1390 AGW Application dependencies issues during destroy
  modules/networking/application_gateway_application/http_listener.tf
  modules/networking/application_gateway_application/http_settings.tf
Labels: bug, app_gateway

#1368 Add Rewrite Rule feature to Application Gateway v1
  .github/workflows/standalone-scenarios.json
  examples/app_gateway/301-agw-v1/agw_application.tfvars
  modules/databases/mssql_server/server.tf
  modules/networking/application_gateway_application/request_routing_rule.tf
  modules/networking/application_gateway_application/rewrite_rule.tf
  modules/networking/application_gateway_application/scripts/delete_resource.sh
  modules/networking/application_gateway_application/scripts/set_resource.sh
  modules/networking/application_gateway_application/url_path_map.tf
  modules/networking/application_gateway_application/url_path_rule.tf
Labels: enhancement, app_gateway

#1392 Fix Cosmos DB SQL Databases module
  examples/cosmos_db/100-simple-cosmos-db-sql/sql_databases.tfvars
  modules/databases/cosmos_dbs/sql_database/sql_database.tf
Labels: enhancement, cosmos

#1393 Fixing 1368 regressions
  examples/app_gateway/301-agw-v1/agw_application.tfvars
  modules/databases/mssql_server/server.tf
  modules/networking/application_gateway_application/request_routing_rule.tf
Labels: bug, app_gateway, mssql
