Repository aztfmod/terraform-azurerm-caf, pull requests merged in 2022-09, with the labels that each got.

#1321 Data Factory: Add try to vnet integration block
  modules/data_factory/data_factory_integration_runtime_azure_ssis/module.tf
Labels: bug

#1327 Adding deferred role assignment feature
  examples/compute/container_groups/100-aci-rover-github-runner/container_groups.tfvars
  modules/azuread/groups/group.tf
  modules/compute/container_group/container_group.tf
  modules/compute/container_group/locals.tf
  modules/compute/container_group/variable_from_command/module.tf
  modules/compute/container_group/variable_from_command/variables.tf
  modules/compute/container_group/variables_from_command.tf
  roles.tf
  storage_account_blobs.tf
  storage_container.tf
Labels: roles

#1295 Add support for multiple mysql vnet rules
  examples/mysql_server/101-vnet-rule-mysql/configuration.tfvars
  modules/databases/mysql_server/network_rule.tf
Labels: enhancement, mssql

#1332 Adding example of remote Keyvault and key reference for Disk encrypti…
  examples/compute/virtual_machine/212-vm-disk-encryption-set/configurations.tfvars
Labels: documentation

#1333 Feature/cosmos db sqldb name
  examples/cosmos_db/100-simple-cosmos-db-sql/sql_databases.tfvars
  modules/databases/cosmos_dbs/sql_database/sql_database.tf
Labels: enhancement, cosmos

#1329 Fixing load_balancer_backend_address_pool_ids value for autoscaled virtual_machine_scale_set resource
  modules/compute/virtual_machine_scale_set/vmss_linux.tf
Labels: bug, load balancer, vmss

#1300 Support Storage Account services diagnostic settings
  examples/storage_accounts/100-simple-storage-account-diagnostics/diagnostics.tfvars
  examples/storage_accounts/100-simple-storage-account-diagnostics/storage_accounts.tfvars
  modules/storage_account/diagnostics.tf
  modules/storage_account/variables.tf
  storage_accounts.tf
Labels: enhancement, storage services

#1344 Add SSL policy for all HTTPS listeners by default
  examples/app_gateway/302-listener-ssl-policy/agw_application.tfvars
  examples/app_gateway/302-listener-ssl-policy/agw_platform.tfvars
  examples/app_gateway/302-listener-ssl-policy/certificates.tfvars
  examples/app_gateway/302-listener-ssl-policy/configuration.tfvars
  examples/app_gateway/302-listener-ssl-policy/keyvaults.tfvars
  examples/app_gateway/302-listener-ssl-policy/managed_identities.tfvars
  examples/app_gateway/302-listener-ssl-policy/network_security_group_definition.tfvars
  examples/app_gateway/302-listener-ssl-policy/networking.tfvars
  modules/networking/application_gateway_platform/application_gateway.tf
Labels: enhancement, app_gateway

#1112 Add blob lifecycle management rules based on access time
  examples/storage_accounts/107-storage-account-management-policy/configuration.tfvars
  modules/storage_account/management_policy/management_policy.tf
Labels: enhancement
