Repository aztfmod/terraform-azurerm-caf, pull requests merged in 2022-08, with the labels that each got.

#1281 Making private_ip_address optional in AGW following AzureRM 2.99.0
  examples/app_gateway/103-public-only/application.tfvars
  examples/app_gateway/103-public-only/configuration.tfvars
  examples/app_gateway/103-public-only/network_security_group_definition.tfvars
  modules/networking/application_gateway/locals.networking.tf
Labels: bug, aks

#1272 Add dynamic keyvault certificates
  .github/workflows/standalone-scenarios.json
  examples/dynamic_certificates.tf
  examples/keyvault/105-keyvault-dynamic-certificate/configuration.tfvars
  examples/variables.tf
  modules/security/dynamic_keyvault_certificates/certificate/certificate.tf
  modules/security/dynamic_keyvault_certificates/certificate/variables.tf
  modules/security/dynamic_keyvault_certificates/keyvault.tf
  modules/security/dynamic_keyvault_certificates/variables.tf
Labels: enhancement, keyvault

#1284 Adding rbac_id for function_app
  modules/webapps/function_app/output.tf
Labels: bug

#1286 Add support for MSI and private endpoints to automation account
  .github/workflows/standalone-scenarios.json
  automations.tf
  examples/automation/102-automation-msi/configuration.tfvars
  examples/automation/103-automation-private-endpoints/configuration.tfvars
  modules/automation/managed_identities.tf
  modules/automation/module.tf
  modules/automation/output.tf
  modules/automation/private_endpoints.tf
  modules/automation/variables.tf
  roles.tf
Labels: enhancement, automation

#1308 Update examples based on CI feedbacks
  examples/mssql_server/108-sqlserver-db-diagnostics/configurations.tfvars
  examples/mysql_flexible_server/100-simple-mysql-flexible/configuration.tfvars
  examples/mysql_flexible_server/101-delegated-subnet-with-fw-rule/configuration.tfvars
  examples/networking/firewall/101-simple-firewall/configuration.tfvars
  examples/networking/firewall/104-firewall-force-tunnelling/configuration.tfvars
  examples/storage_accounts/100-simple-storage-account-diagnostics/diagnostics.tfvars
  modules/databases/mssql_database/database.tf
  modules/webapps/static_site/module.tf
Labels: bug

#1297 Allow os_disk_size_gb to be configured
  examples/shared_image_gallery/102-packer_build_linux/packer_files/build.pkr.hcl
  modules/shared_image_gallery/packer_build/packer.tf
Labels: enhancement, packer

#1314 Add weekly/monthly/yearly parameters in fileshare backup retention policy
  modules/recovery_vault/backup_policies_file_share.tf
Labels: enhancement, recovery vault

#1313 Remove mssql server admin condition
  modules/databases/mssql_server/server.tf
Labels: bug, mssql

#1261 Fix logic for MSSQL Server AzureAD administrator
  modules/databases/mssql_server/server.tf
Labels: bug

#1316 Bring back LB variables in VMSS
  virtual_machines_scale_sets.tf
Labels: bug, vmss
