Repository aztfmod/terraform-azurerm-caf, pull requests merged in 2022-07, with the labels that each got.

#1238 Fix a lifecycle on adding new subnet to exist vnet
  modules/networking/virtual_network/module.tf
  modules/networking/virtual_network/subnet/subnet.tf
Labels: bug, resource_lifecycle, virtual network

#1233 Fix vm and vmss custom script timestamp
  examples/compute/virtual_machine/110-win-linuxvm-custom-script-extension/configuration.tfvars
  modules/compute/virtual_machine_extensions/custom_script.tf
  modules/compute/virtual_machine_scale_set_extensions/custom_script.tf
Labels: bug, virtual machines

#1235 Add tags attribute to azuread_service_principal
  examples/azuread/103-service-principal-only/configuration.tfvars
  modules/azuread/service_principal/module.tf
Labels: enhancement, azuread

#1243 Add auto_stop_enabled parameter
  examples/data_explorer/101-kusto_clusters_basic/configuration.tfvars
  modules/databases/data_explorer/kusto_clusters/module.tf
Labels: enhancement, data explorer

#1242 feat: add new module 'webapps/static_site'
  .github/workflows/standalone-scenarios.json
  examples/variables.tf
  examples/webapps/static_site/101-simple-static-web-app/configuration.tfvars
  locals.tf
  modules/webapps/static_site/diagnostic.tf
  modules/webapps/static_site/main.tf
  modules/webapps/static_site/module.tf
  modules/webapps/static_site/output.tf
  modules/webapps/static_site/variables.tf
  static_sites.tf
Labels: new submodule

#1241 Bugfix key_vault_secrets_provider in aks
  examples/compute/kubernetes_services/101-single-cluster/aks.tfvars
  modules/compute/aks/aks.tf
Labels: bug, aks

#1160 #1159 add health check and custom hostname binding for app service
  modules/webapps/appservice/module.tf
Labels: enhancement, app_service

#1247 Container Group Volumes - unsupported attribute
  modules/compute/container_group/container_group.tf
Labels: bug, container_groups

#986 Add workspace_id literal to diagnostics for NSG flow logs support
  examples/diagnostics_profiles/202-reuse-existing-log-analytics/diagnostics_destinations.tfvars
  modules/networking/virtual_network/nsg/flow_logs/flow_logs.tf
Labels: enhancement

#1061 Add support for CAF keyvault Issue in Front Door #1060
  examples/networking/front_door/102-front_door_advanced/front_door_advanced.tfvars
  examples/networking/front_door/102-front_door_advanced/front_doors.tfvars
  front_doors.tf
  modules/networking/front_door/front_door.tf
  modules/networking/frontdoor_custom_https_configuration/README.md
  modules/networking/frontdoor_custom_https_configuration/main.tf
  modules/networking/frontdoor_custom_https_configuration/module.tf
  modules/networking/frontdoor_custom_https_configuration/output.tf
  modules/networking/frontdoor_custom_https_configuration/variables.tf
Labels: enhancement, networking, front door

#1210 application_gateway_application: Fixed probe dependency and added custom_port capability for application gateway application configuration.
  examples/app_gateway/301-agw-v1/agw_application.tfvars
  modules/networking/application_gateway_application/frontend_ports.tf
  modules/networking/application_gateway_application/http_listener.tf
  modules/networking/application_gateway_application/http_settings.tf
  modules/networking/application_gateway_application/probe.tf
  modules/networking/application_gateway_application/scripts/delete_resource.sh
  modules/networking/application_gateway_application/scripts/set_resource.sh
Labels: enhancement

#1146 Azure managed boot diagnostics on vmss
  examples/compute/virtual_machine_scale_set/100-linux-win-vmss-lb/configuration.tfvars
  examples/compute/virtual_machine_scale_set/101-linux-win-vmss-agw/configuration.tfvars
  examples/compute/virtual_machine_scale_set/102-linux-win-vmss-custom-script-extension/configuration.tfvars
  examples/compute/virtual_machine_scale_set/103-linux-win-vmss-domain-join-extension/configuration.tfvars
  examples/compute/virtual_machine_scale_set/104-linux-win-vmss-as-lb/configuration.tfvars
  examples/compute/virtual_machine_scale_set/105-linux-win-vmss-autorepair/configuration.tfvars
  modules/compute/virtual_machine_scale_set/vmss_linux.tf
  modules/compute/virtual_machine_scale_set/vmss_windows.tf
  virtual_machines_scale_sets.tf
Labels: enhancement, vmss

#1250 -Enhance virtual_network_gateway module add custom_route argument
  examples/networking/virtual_network_gateway/104-vpn-point-to-site-gateway/configuration.tfvars
  modules/networking/virtual_network_gateways/module.tf
Labels: enhancement, virtual network gateway

#1248 adding the option to add owners to groups by user_principal_name
  modules/azuread/groups/group.tf
Labels: enhancement, azuread

#1260 [FIX] Make public IP subnet optional
  modules/networking/firewall/module.tf
Labels: bug, azure firewall
