Repository aztfmod/terraform-azurerm-caf, pull requests merged in 2022-11, with the labels that each got.

#1407 Add Private Endpoint support for Databricks
  .github/workflows/standalone-scenarios.json
  databricks.tf
  examples/databricks/102-premium-databricks-vnet-private-endpoint/configuration.tfvars
  modules/analytics/databricks_workspace/private_endpoint.tf
  modules/analytics/databricks_workspace/variables.tf
Labels: private endpoints, databricks

#1402 Invalid express_route key value
  networking_express_route.tf
Labels: bug, express_route

#1422 Fixing Bug report- APIM Subscriptions are recreated if a new APIM Pro…
  api_management.tf
  examples/apim/117-api_management_product/configuration.tfvars
  modules/apim/api_management_product/module.tf
Labels: bug, apim

#1424 Add vm-linux_diagnostic_extensions #1423
  .github/workflows/standalone-scenarios.json
  examples/compute/virtual_machine/216-vm-linux_diagnostic_extensions/configurations.tfvars
  examples/compute/virtual_machine/216-vm-linux_diagnostic_extensions/diagnostics/filelogs.json
  examples/compute/virtual_machine/216-vm-linux_diagnostic_extensions/diagnostics/ladcfg.json
  examples/module.tf
  modules/compute/virtual_machine_extensions/LinuxDiagnostic.tf
  virtual_machines_extensions.tf
Labels: virtual machines, vm_vmss extensions

#1414 Add optional_claims for azuread applications
  .github/workflows/standalone-scenarios.json
  examples/azuread/105-azuread-application-with-optional-claims/configuration.tfvars
  modules/azuread/applications/module.tf
  modules/azuread/applications_v1/azuread_application.tf
Labels: enhancement, azuread

#1395 Add Logic App Standard with vnet integration
  modules/logic_app/standard/main.tf
  modules/logic_app/standard/module.tf
  modules/logic_app/standard/private_endpoint.tf
Labels: logic app

#1441 Adding output from module.event_hubs
  event_hubs.tf
Labels: bug

#1449 Synapse fix aad devops and github repos parameters
  modules/analytics/synapse/workspace.tf
Labels: bug, synapse

#1437 Add references for probe and backend_address_pool to lb_rule
  examples/networking/lb/100-lb/configurations.tfvars
  lb.tf
  local.remote_objects.tf
  locals.combined_objects.tf
  modules/networking/lb_rule/module.tf
  modules/networking/lb_rule/variables.tf
Labels: bug, networking, load balancer

#1452 Synapse module patching
  modules/analytics/synapse/workspace.tf
Labels: bug, synapse

#1458 Add support for VMSS generic extensions
  .github/workflows/standalone-scenarios.json
  examples/compute/virtual_machine_scale_set/109-linux-win-vmss-generic-extension/configuration.tfvars
  modules/compute/virtual_machine_scale_set_extensions/generic_extensions.tf
  virtual_machines_scale_sets_extensions.tf
Labels: vmss, vm_vmss extensions

#1455 add support for application_insights_web_test
  .github/workflows/standalone-scenarios.json
  azurerm_application_insights.tf
  examples/app_insights/103-web-test/configuration.tfvars
  examples/module.tf
  examples/variables.tf
  locals.tf
  modules/app_insights/web_test/main.tf
  modules/app_insights/web_test/module.tf
  modules/app_insights/web_test/output.tf
  modules/app_insights/web_test/variables.tf
Labels: app_insights
