Repository aztfmod/terraform-azurerm-caf, pull requests merged in 2023-01, with the labels that each got.

#1482 Fix: shutdown schedules for windows vms
  modules/compute/virtual_machine/shutdown_schedule.tf
Labels: virtual machines

#1464 Adding DDOS Examples
  examples/networking/ddos/configuration.tfvars
Labels: documentation, virtual network

#1478 Add redis cache outputs and remove service endpoint from example
  examples/redis_cache/103-redis-private-endpoints/configuration.tfvars
  modules/redis_cache/output.tf
Labels: redis

#1468 Add standard web test
  azurerm_application_insights.tf
  examples/app_insights/103-web-test/configuration.tfvars
  examples/module.tf
  examples/variables.tf
  local.remote_objects.tf
  locals.combined_objects.tf
  locals.tf
  modules/app_insights/standard_web_test/main.tf
  modules/app_insights/standard_web_test/module.tf
  modules/app_insights/standard_web_test/output.tf
  modules/app_insights/standard_web_test/variables.tf
  modules/monitoring/monitor_metric_alert/module.tf
Labels: app_insights

#1470 feat(compute): Add identity outputs to vm and vmss deployments
  modules/compute/virtual_machine/output.tf
  modules/compute/virtual_machine_scale_set/output.tf
Labels: enhancement

#1487 Add zone_redundant property in App service plan
  modules/webapps/asp/module.tf
Labels: enhancement

#1466 Fix file share ACL and Access Policy
  .github/workflows/standalone-scenarios.json
  examples/storage_accounts/110-file-share-with-acl/configuration.tfvars
  modules/storage_account/file_share/file_share.tf
Labels: bug

#1460 Updated app gateway to use versionless certs from keyvault (for certs auto-refresh)
  modules/networking/application_gateway/application_gateway.tf
  modules/networking/application_gateway_application/ssl_cert.tf
Labels: app_gateway

#1492 Fix Issue - Minor changed - Adds sparkconfig as dynamic attribute on sparkpool
  modules/analytics/synapse/spark_pool/spark_pool.tf
Labels: synapse

#1490 Fix Issue - Minor changes - Allow null values in synapse dynamic parameters
  modules/analytics/synapse/workspace.tf
Labels: bug, synapse

#1488 feat: add API Management Product Policy resource
  api_management.tf
  examples/apim/117-api_management_product/configuration.tfvars
  modules/apim/api_management_product/module.tf
  modules/apim/api_management_product/output.tf
Labels: enhancement, apim

#1485 Fix issue with missing parameter priority on application_gateway_applications resource - dynamic block request_routing_rules
  examples/webapps/appservice/109-appservice-appgw/configuration.tfvars
  examples/webapps/appservice/109-appservice-appgw/waf.tfvars
  modules/networking/application_gateway/application_gateway.tf
Labels: bug

#1493 Update rover jan 2023
  .devcontainer/docker-compose.yml
  .github/workflows/standalone-regressor-tf100.yaml
  .github/workflows/standalone-tf100.yaml
  examples/networking/ddos/configuration.tfvars
  examples/webapps/appservice/109-appservice-appgw/configuration.tfvars
  modules/networking/application_gateway/application_gateway.tf
  modules/redis_cache/output.tf
  rover_on_ssh_host.yml
Labels: enhancement

#1494 fix: null check, output and separate file to different key
  examples/apim/117-api_management_product/configuration.tfvars
  examples/apim/117-api_management_product/policies/example-policy.xml
  modules/apim/api_management_product/module.tf
  modules/apim/api_management_product/output.tf
Labels: bug, apim
