Repository aztfmod/terraform-azurerm-caf, pull requests merged in 2023-03, with the labels that each got.

#1499 Add service_principal_password output
  local.remote_objects.tf
  locals.combined_objects.tf
  modules/azuread/service_principal_password/output.tf
Labels: enhancement

#1504 Add single_placement_group and overprovision for win vmss
  modules/compute/virtual_machine_scale_set/vmss_windows.tf
Labels: enhancement

#1529 Add service roles for wvd objects
  roles.tf
Labels: enhancement

#1527 Add support for redis_version
  examples/redis_cache/100-redis-standard/configuration.tfvars
  modules/redis_cache/module.tf
Labels: enhancement

#1524 feat: Allow specifying of destnation FQDNs in the firewall policy
  examples/networking/firewall/103-firewall-policies/configuration.tfvars
  modules/networking/firewall_network_rule_collections/network_rule_collection.tf
Labels: enhancement, azure firewall policy

#1538 Update examples and improve NSG and load balancer
  examples/compute/azure_redhat_openshift/101_basic_private_cluster/aro.tfvars
  examples/compute/azure_redhat_openshift/102_basic_public_cluster/aro.tfvars
  examples/cosmos_db/101-decomposed-cosmosdb-sql/sql_databases.tfvars
  examples/data_protection/100-backup-vault-blob-storage/configuration.tfvars
  examples/networking/front_door/100-simple-front_door/diagnostics_destinations.tfvars
  examples/networking/front_door/102-front_door_advanced/diagnostics_destinations.tfvars
  examples/storage_accounts/107-storage-account-management-policy/configuration.tfvars
  modules/networking/load_balancers/load_balancers.tf
  modules/networking/network_security_group/module.tf
Labels: bug

#1483 Add Web PubSub service
  .github/workflows/standalone-scenarios.json
  examples/messaging/web_pubsub/100-simple-web-pubsub/configuration.tfvars
  examples/messaging/web_pubsub/101-web-pubsub-hub/configuration.tfvars
  examples/messaging/web_pubsub/102-web-pubsub-usermsi/configuration.tfvars
  examples/messaging/web_pubsub/103-web-pubsub-keyvault/configuration.tfvars
  examples/module.tf
  examples/variables.tf
  local.remote_objects.tf
  locals.combined_objects.tf
  locals.tf
  modules/messaging/web_pubsub/hub/main.tf
  modules/messaging/web_pubsub/hub/output.tf
  modules/messaging/web_pubsub/hub/variables.tf
  modules/messaging/web_pubsub/hub/web_pubsub_hub.tf
  modules/messaging/web_pubsub/keyvault_secrets.tf
  modules/messaging/web_pubsub/main.tf
  modules/messaging/web_pubsub/managed_identities.tf
  modules/messaging/web_pubsub/output.tf
  modules/messaging/web_pubsub/private_endpoint.tf
  modules/messaging/web_pubsub/variables.tf
  modules/messaging/web_pubsub/web_pubsub.tf
  web_pubsubs.tf
Labels: new submodule

#1546 feature: route table role mapping support
  locals.combined_objects.tf
  roles.tf
Labels: roles

#1535 Feat/shared image gallery update
  modules/shared_image_gallery/image_definitions/Image_definitions.tf
  modules/shared_image_gallery/image_definitions/variables.tf
Labels: enhancement, image gallery

#1548 Update pipelines & test cases
  examples/compute/container_groups/100-aci-rover-github-runner/container_groups.tfvars
  examples/messaging/web_pubsub/103-web-pubsub-keyvault/configuration.tfvars
  examples/storage_accounts/109-storage-account-advanced-options-cmk/configuration.tfvars
  modules/azuread/groups/output.tf
  modules/databases/mssql_server/server.tf
Labels: CI

#1555 Fix owners for azuread groups
  modules/azuread/applications_v1/azuread_application.tf
Labels: bug

#1551 feature: support additional private endpoints for AKS APIserver
  examples/compute/kubernetes_services/104-private-cluster/aks.tfvars
  examples/compute/kubernetes_services/104-private-cluster/configuration.tfvars
  examples/compute/kubernetes_services/104-private-cluster/networking.tfvars
  modules/compute/aks/private_endpoint.tf
  modules/compute/aks/variables.tf
Labels: enhancement, aks

#1540 Add Azure AD application reference to app service authentication
  .github/workflows/standalone-scenarios.json
  app_services.tf
  examples/webapps/appservice/110-appservice-auth/configuration.tfvars
  modules/webapps/appservice/module.tf
  modules/webapps/appservice/variables.tf
Labels: app_service, azuread

#1539 blinQ: Update aks.tf based on properties for azurerm 3.46.0
  modules/compute/aks/aks.tf
Labels: enhancement, aks

#1564 Fix subscription tagging
  modules/subscriptions/subscriptions.tf
  modules/subscriptions/variables.tf
  subscriptions.tf
Labels: subscription vending machine

#1560 Enhancement: Add custom data in VMSS
  examples/compute/virtual_machine_scale_set/106-linux-win-vmss-lb/configurations.tfvars
  modules/compute/virtual_machine_scale_set/vmss_linux.tf
Labels: vmss

#1566 Update Private DNS networking links to support remote/local dns_servers and vnet
  .devcontainer/docker-compose.yml
  examples/networking/private_dns_vnet_link/100_pvtdns_vnetlink/configuration.tfvars
  modules/networking/private-dns/output.tf
  modules/networking/private_dns_vnet_link_v1/main.tf
  modules/networking/private_dns_vnet_link_v1/module.tf
  modules/networking/private_dns_vnet_link_v1/output.tf
  modules/networking/private_dns_vnet_link_v1/variables.tf
  networking_private_dns.tf
Labels: enhancement, private dns
