Repository aztfmod/terraform-azurerm-caf, pull requests merged in 2023-10, with the labels that each got.

#1764 Minor update to point_to_site_gateway.tf, to support Azure AAD authen…
  modules/networking/virtual_wan/virtual_hub/point_to_site_gateway.tf
Labels: networking, virtual wan

#1808 September 2023 Housekeeping
  .devcontainer/docker-compose.yml
  .github/workflows/landingzone-scenarios.yaml
  .github/workflows/rover.yaml
  .github/workflows/standalone-compute.yaml
  .github/workflows/standalone-networking.yaml
  .github/workflows/standalone-regressor-tf100.yaml
  .github/workflows/standalone-scenarios.json
  .github/workflows/standalone-tf100.yaml
  examples/compute/azure_virtual_desktop/wvd_resources_and_session_host/diagnostics_definitions.tfvars
  examples/compute/container_registry/200-acr-private-link/diagnostics.tfvars
  examples/data_factory/117-data_factory_diagnostics/configuration.tfvars
  examples/diagnostics_profiles/100-multiple-destinations/diagnostics_definition.tfvars
  examples/diagnostics_profiles/101-log-analytics-destination-type-profile/diagnostics_definition.tfvars
  examples/diagnostics_profiles/200-diagnostics-eventhub-namespaces/diagnostics_definition.tfvars
  examples/diagnostics_profiles/201-multi-eventhub-diagnostics/diagnostics_definition.tfvars
  examples/diagnostics_profiles/202-reuse-existing-log-analytics/diagnostics_definition.tfvars
  examples/mssql_server/108-sqlserver-db-diagnostics/configurations.tfvars
  examples/networking/bastion/100-bastion-with-vm/diagnostics_definitions.tfvars
  examples/networking/firewall/101-simple-firewall/configuration.tfvars
  examples/networking/firewall/104-firewall-force-tunnelling/configuration.tfvars
  examples/networking/front_door/100-simple-front_door/diagnostics_definition.tfvars
  examples/networking/front_door/102-front_door_advanced/diagnostics_definition.tfvars
  examples/networking/virtual_network/200-nsg-flow-logs/diagnostics_definitions.tfvars
  examples/networking/virtual_network/201-nsg-flow-logs-v1/diagnostics_definitions.tfvars
  examples/networking/virtual_network/202-network_watchers/diagnostics_definitions.tfvars
  examples/purview/100-purview_account/configuration.tfvars
  examples/purview/101-purview_account_private_link/configuration.tfvars
  examples/redis_cache/101-redis-diagnostics/configurations.tfvars
  examples/storage_accounts/100-simple-storage-account-diagnostics/diagnostics.tfvars
  examples/webapps/appservice-environment/101-simple_ase/configuration.tfvars
  examples/webapps/appservice/106-appservice-diagnostics/configuration.tfvars
  examples/webapps/function_app/101-function_app-private/configuration.tfvars
  main.tf
  modules/analytics/databricks_workspace/workspace.tf
  modules/compute/virtual_machine/mssql_vm.tf
  modules/webapps/ase/examples/single-ase-internal/configuration.tfvars
  rover_on_ssh_host.yml
Labels: enhancement

#1812 Updated Cluster Settings for ASEV3 module
  modules/webapps/asev3/module.tf
Labels: bug, app_service

#1813 Fix KeyVault Windows VM Extension
  .github/workflows/landingzone-scenarios.yaml
  .github/workflows/rover.yaml
  .github/workflows/standalone-compute.yaml
  .github/workflows/standalone-networking.yaml
  .github/workflows/standalone-regressor-tf100.yaml
  .github/workflows/standalone-tf100.yaml
  compute_virtual_machines_extensions.tf
  rover_on_ssh_host.yml
Labels: bug, virtual machines, vm_vmss extensions, keyvault

#1676 Linux VM custom_data using templatefile
  .github/workflows/standalone-compute.json
  examples/compute/virtual_machine/113-single-linux-custom-data-template/configuration.tfvars
  examples/compute/virtual_machine/113-single-linux-custom-data-template/custom_data.tpl
  modules/compute/virtual_machine/dynamic_custom_data.tf
  modules/compute/virtual_machine/vm_linux.tf
Labels: enhancement, virtual machines

#1815 Fix OMS add-on for AKS
  modules/compute/aks/aks.tf
Labels: bug, aks

#1825 Add secure_boot_enabled and vtpm_enabled options
  modules/compute/virtual_machine/vm_linux.tf
  modules/compute/virtual_machine/vm_windows.tf
Labels: enhancement, virtual machines
