Repository aztfmod/terraform-azurerm-caf, pull requests merged in 2023-08, with the labels that each got.

#1734 Added default_desktop_display_name support in azurerm_virtual_desktop…
  examples/app_config/101-private-link/configuration.tfvars
  examples/compute/azure_virtual_desktop/wvd_resources/configuration.tfvars
  modules/compute/wvd_application_group/virtual_desktop_application_group.tf
Labels: enhancement, virtual desktop

#1732 Feature/add ddos protection plan id var non global to ddos
  examples/networking/ddos_reusing_existing_plan_id/configuration.tfvars
  networking.tf
Labels: enhancement, virtual network, ddos

#1645 Updating tags to match private endpoint module
  modules/webapps/appservice/private_endpoint.tf
Labels: bug, app_service, tags

#1691 Add ip_configuration block to private endpoints
  .github/workflows/standalone-networking.json
  examples/networking/private_endpoint/README.md
  examples/networking/private_endpoint/configuration.tfvars
  modules/networking/private_endpoint/private_endpoint.tf
Labels: enhancement, private endpoints

#1738 Revert "Feature/add ddos protection plan id var non global to ddos"
  examples/networking/ddos_reusing_existing_plan_id/configuration.tfvars
  networking.tf
Labels: bug

#1727 Add support for azure maps account
  .github/workflows/standalone-scenarios.json
  examples/maps/101-azure-maps-account/configuration.tfvars
  examples/module.tf
  examples/variables.tf
  locals.combined_objects.tf
  locals.tf
  maps_account.tf
  modules/maps/maps_account/main.tf
  modules/maps/maps_account/maps_account.tf
  modules/maps/maps_account/output.tf
  modules/maps/maps_account/variables.tf
  variables.tf
Labels: new submodule

#1729 Improve resource_group lookup fw policy
  networking_firewall_policy.tf
Labels: enhancement, azure firewall, azure firewall policy

#1642 Fix issue with try clause in virtual_machine module
  modules/compute/virtual_machine/keyvault.tf
Labels: bug, virtual machines

#1668 Revert AKS maintenance window settings
  modules/compute/aks/aks.tf
Labels: question, aks

#1721 Added changes related to application gateway redirect (v1)
  .github/workflows/standalone-networking.json
  examples/networking/app_gateway/303-listener-ssl-policy-redirect/agw_application.tfvars
  examples/networking/app_gateway/303-listener-ssl-policy-redirect/agw_platform.tfvars
  examples/networking/app_gateway/303-listener-ssl-policy-redirect/certificates.tfvars
  examples/networking/app_gateway/303-listener-ssl-policy-redirect/configuration.tfvars
  examples/networking/app_gateway/303-listener-ssl-policy-redirect/keyvaults.tfvars
  examples/networking/app_gateway/303-listener-ssl-policy-redirect/managed_identities.tfvars
  examples/networking/app_gateway/303-listener-ssl-policy-redirect/network_security_group_definition.tfvars
  examples/networking/app_gateway/303-listener-ssl-policy-redirect/networking.tfvars
  modules/networking/application_gateway_application/redirect_config.tf
  modules/networking/application_gateway_application/request_routing_rule.tf
  modules/networking/application_gateway_application/scripts/delete_resource.sh
  modules/networking/application_gateway_application/scripts/set_resource.sh
  modules/networking/application_gateway_application/variable.tf
Labels: enhancement, question, do not merge, app_gateway

#1654 Updated module waf_policy with optional block excluded_rule_set
  .github/workflows/standalone-networking.json
  examples/networking/app_gateway/212-waf-policy-with-exclusion/application.tfvars
  examples/networking/app_gateway/212-waf-policy-with-exclusion/application_gateway.tfvars
  examples/networking/app_gateway/212-waf-policy-with-exclusion/configuration.tfvars
  examples/networking/app_gateway/212-waf-policy-with-exclusion/network_security_group_definition.tfvars
  examples/networking/app_gateway/212-waf-policy-with-exclusion/waf.tfvars
  modules/networking/application_gateway_waf_policies/waf_policy.tf
Labels: enhancement, app_gateway

#1649 Backend port and protcol might be different than front end port and protocol. Added port and protocol as optional properties to http_settings.
  examples/networking/app_gateway/302-listener-ssl-policy/agw_application.tfvars
  modules/networking/application_gateway_application/http_settings.tf
Labels: enhancement, app_gateway

#1741 Upgrade providers
  main.tf
  maps_account.tf
Labels: enhancement

#1745 Fixed custom script location priority (remote must be first)
  modules/compute/virtual_machine_extensions/custom_script.tf
Labels: virtual machines

#1697 Added support for UserAssigned msi to disk encryption set
  .github/workflows/standalone-compute.json
  disk_encryption_sets.tf
  examples/compute/virtual_machine/217-vm-disk-encryption-set-msi/configurations.tfvars
  locals.combined_objects.tf
  modules/security/disk_encryption_set/disk_encryption_set.tf
  modules/security/disk_encryption_set/keyvault_policy.tf
  modules/security/disk_encryption_set/variables.tf
  modules/security/disk_encryption_set_external/disk_encryption_set.tf
  modules/security/disk_encryption_set_external/variables.tf
Labels: enhancement, virtual machines

#1754 Fix webhook_url logic, variable should not be required
  modules/compute/virtual_machine/shutdown_schedule.tf
Labels: bug, virtual machines

#1752 Fix minor issues, tag + azuread_group_membership
  azuread_groups.tf
  modules/networking/private_dns_resolvers_inbound_endpoints/main.tf
Labels: bug, azuread, tags

#1774 Local combination files updated
  locals.combined_objects.tf
  storage_account_file_shares.tf
Labels: bug

#1773 Added owners argument for spn
  modules/azuread/applications/module.tf
Labels: bug, azuread
