Repository aztfmod/terraform-azurerm-caf, pull requests merged in 2023-07, with the labels that each got.

#1679 Allow set threat_intel_mode to be null
  modules/networking/firewall/module.tf
Labels: bug

#1671 Add missed parameters for the Azure Cosmos DB Account
  examples/cosmos_db/100-cosmos-db-sql-role-mapping/configuration.tfvars
  modules/databases/cosmos_dbs/cosmosdb_account.tf
Labels: enhancement, cosmos

#1678 New version to deploy Azure Devops and TF Cloud/Enterprise with caf_solution
  .devcontainer/docker-compose.yml
  .github/workflows/standalone-networking.yaml
  examples/compute/cd-agents/agents-with-private-endpoints/README.tfcloud.md
  examples/compute/cd-agents/agents-with-private-endpoints/configurations.tfvars
  examples/compute/cd-agents/agents-with-private-endpoints/keyvaults.tfvars
  examples/compute/cd-agents/agents-with-private-endpoints/managed_identities.tfvars
  examples/compute/cd-agents/agents-with-private-endpoints/networking.tfvars
  examples/compute/cd-agents/agents-with-private-endpoints/private_dns.tfvars
  examples/compute/cd-agents/agents-with-private-endpoints/role_mapping.tfvars
  examples/compute/cd-agents/agents-with-private-endpoints/scripts/devops_runtime_baremetal.sh
  examples/compute/cd-agents/agents-with-private-endpoints/scripts/tfcloud_selfhosted_agent.sh
  examples/compute/cd-agents/agents-with-private-endpoints/storage_accounts.tfvars
  examples/compute/cd-agents/agents-with-private-endpoints/virtual_machines.tfvars
  examples/compute/kubernetes_services/108-single-cluster-remote-adgroup-admin/aks.tfvars
  examples/compute/virtual_machine/101-single-windows-vm/configuration.tfvars
  keyvault.tf
  modules/compute/virtual_machine/network_interface.tf
  modules/compute/virtual_machine/output.tf
  modules/compute/virtual_machine/variables.tf
  modules/compute/virtual_machine_extensions/LinuxDiagnostic.tf
  modules/compute/virtual_machine_extensions/Microsoft.EnterpriseCloud.Monitoring.tf
  modules/compute/virtual_machine_extensions/custom_script.tf
  modules/compute/virtual_machine_extensions/devops_selfhosted_agent.tf
  modules/compute/virtual_machine_extensions/domain_join.tf
  modules/compute/virtual_machine_extensions/generic_extensions.tf
  modules/compute/virtual_machine_extensions/keyvaultforwindows.tf
  modules/compute/virtual_machine_extensions/main.tf
  modules/compute/virtual_machine_extensions/microsoft.azure.diagnostics.tf
  modules/compute/virtual_machine_extensions/tfcloud_selfhosted_agent.tf
  modules/compute/virtual_machine_extensions/wvd_dsc.tf
  modules/databases/cosmos_dbs/sql_database/output.tf
  modules/networking/virtual_network_gateways/module.tf
  modules/networking/virtual_network_gateways/variables.tf
  modules/security/keyvault/private_endpoints.tf
  modules/security/keyvault/variables.tf
  modules/security/keyvault_certificate_request/global_sign.tf
  modules/storage_account/blob/module.tf
  modules/storage_account/private_endpoint.tf
  modules/storage_account/variables.tf
  networking_private_dns.tf
  networking_private_dns_resolver_inbound_endpoints.tf
  networking_private_dns_resolver_outbound_endpoints.tf
  networking_vngw.tf
  roles.tf
  roles_scope.tf
  storage_accounts.tf
  virtual_machines.tf
  virtual_machines_extensions.tf
Labels: self-hosted agents

#1680 Updated tag inheritance logic for resource groups
  modules/resource_group/main.tf
  modules/resource_group/module.tf
  modules/resource_group/variables.tf
  resource_groups.tf
Labels: bug

#1685 Simplify the rover_agents.sh with caf_solution
  examples/compute/cd-agents/agents-with-private-endpoints/scripts/rover_agents.sh
  examples/compute/cd-agents/agents-with-private-endpoints/storage_accounts.tfvars
  examples/compute/cd-agents/agents-with-private-endpoints/virtual_machines.tfvars
  modules/compute/virtual_machine_extensions/devops_selfhosted_agent.tf
  modules/compute/virtual_machine_extensions/tfcloud_selfhosted_agent.tf
Labels: bug

#1686 Fix relative path
  .pre-commit-config.yaml
  examples/app_gateway/211-agw-with-ssl-redirect/application.tfvars
  examples/app_gateway/211-agw-with-ssl-redirect/application_gateways.tfvars
  examples/automation/102-automation-msi/configuration.tfvars
  examples/compute/kubernetes_services/108-single-cluster-remote-adgroup-admin/aks.tfvars
  examples/compute/virtual_machine/110-win-linuxvm-custom-script-extension/configuration.tfvars
  examples/compute/virtual_machine_scale_set/102-linux-win-vmss-custom-script-extension/configuration.tfvars
  examples/storage_accounts/109-storage-account-advanced-options-cmk/configuration.tfvars
Labels: bug, virtual machines, vmss, vm_vmss extensions

#1692 Azuread application incorrect var name
  modules/azuread/applications/module.tf
Labels: bug, azuread

#1688 mx and txt records for dns_zones
  examples/networking/dns_zones/100-simple-dns_zone/dns_zones.tfvars
Labels: documentation, dns zones

#1690 Fix/recovery vault private endpoint
  modules/recovery_vault/private_endpoints.tf
Labels: bug, private endpoints, recovery vault

#1695 Add sftp_enabled argument for storage account
  examples/storage_accounts/102-storage-account-advanced-options/configuration.tfvars
  modules/storage_account/storage_account.tf
Labels: enhancement, storage services

#1684 Add PowerBI embedded module
  .github/workflows/standalone-scenarios.json
  examples/module.tf
  examples/powerbi_embedded/100-simple-powerbi/configuration.tfvars
  examples/variables.tf
  locals.tf
  modules/powerbi_embedded/main.tf
  modules/powerbi_embedded/module.tf
  modules/powerbi_embedded/outputs.tf
  modules/powerbi_embedded/variables.tf
  powerbi_embedded.tf
  variables.tf
Labels: new submodule

#1701 Fix for ci caf_launchpad
  azuread_users.tf
  dynamic_secrets.tf
  main.tf
  modules/security/keyvault/keyvault.tf
  modules/storage_account/storage_account.tf
  roles.tf
  roles_scope.tf
Labels: bug, azuread

#1703 Update dependencies for role assignments
  virtual_machines.tf
  virtual_machines_scale_sets.tf
Labels: bug

#1705 Add support to reference existing resources
  .devcontainer/docker-compose.yml
  azuread_groups.tf
  examples/data_sources/100-reference-data-source/configuration.tfvars
  examples/data_sources/100-reference-data-source/data_sources.tfvars
  examples/data_sources/100-reference-data-source/function_apps.tfvars
  examples/data_sources/100-reference-data-source/keyvaults.tfvars
  examples/data_sources/100-reference-data-source/readme.md
  examples/data_sources/100-reference-data-source/virtual_machines.tfvars
  examples/module.tf
  examples/resource_group_reused/100-reuse-existing-rg/configuration.tfvars
  examples/variables.tf
  examples/webapps/function_app/101-function_app-private/configuration.tfvars
  function_app.tf
  locals.combined_objects.tf
  locals.tf
  modules/azuread/groups_members/azuread_groups_membership.tf
  modules/azuread/groups_members/membership/membership.tf
  modules/azuread/groups_members/membership/variables.tf
  modules/security/keyvault/keyvault.tf
  modules/storage_account/storage_account.tf
Labels: azuread, existing_resource

#1708 Add Private Link endpoints for the App Configuration module
  .github/workflows/standalone-scenarios.json
  app_config.tf
  examples/app_config/101-private-link/configuration.tfvars
  modules/databases/app_config/app_config.tf
  modules/databases/app_config/private_endpoints.tf
  modules/databases/app_config/variables.tf
  modules/networking/private_links/endpoints/subnet/app_config.tf
  networking_private_links.tf
Labels: private endpoints, app_config

#1714 Add storage_account_file_shares
  examples/module.tf
  examples/storage_accounts/111-storage_account_file_shares/configuration.tfvars
  examples/variables.tf
  locals.combined_objects.tf
  locals.tf
  modules/storage_account/file_share/file_share.tf
  modules/storage_account/file_share/output.tf
  roles.tf
  storage_account_file_shares.tf
Labels: enhancement

#1715 Datasources for ASEV3 and ASP & Private Endpoints for Function App and Web App Service
  examples/cosmos_db/100-cosmos-db-sql-role-mapping/configuration.tfvars
  examples/networking/dns_zones/100-simple-dns_zone/dns_zones.tfvars
  examples/storage_accounts/102-storage-account-advanced-options/configuration.tfvars
  function_app.tf
  locals.combined_objects.tf
  modules/azuread/service_principal/module.tf
  modules/databases/cosmos_dbs/cosmosdb_account.tf
  modules/powerbi_embedded/outputs.tf
  modules/resource_group/main.tf
  modules/resource_group/variables.tf
  modules/webapps/appservice/private_endpoint.tf
  modules/webapps/function_app/private_endpoint.tf
  modules/webapps/function_app/variables.tf
Labels: bug, app_service, function

#1700 Added default ssl_policy block to AGW
  modules/networking/application_gateway/application_gateway.tf
Labels: enhancement, app_gateway

#1725 Add example and fix for app gateway platform ssl profile
  .github/workflows/standalone-networking.json
  examples/networking/app_gateway/303-ssl-profile/agw_application.tfvars
  examples/networking/app_gateway/303-ssl-profile/agw_platform.tfvars
  examples/networking/app_gateway/303-ssl-profile/certificates.tfvars
  examples/networking/app_gateway/303-ssl-profile/configuration.tfvars
  examples/networking/app_gateway/303-ssl-profile/keyvaults.tfvars
  examples/networking/app_gateway/303-ssl-profile/managed_identities.tfvars
  examples/networking/app_gateway/303-ssl-profile/network_security_group_definition.tfvars
  examples/networking/app_gateway/303-ssl-profile/networking.tfvars
  modules/networking/application_gateway_platform/application_gateway.tf
Labels: bug, app_gateway
