Repository aztfmod/terraform-azurerm-caf, pull requests merged in 2023-09, with the labels that each got.

#1772 fix: source and source_content parsing
  examples/storage_container/101-storage_container/configuration.tfvars
  modules/storage_account/blob/module.tf
Labels: bug

#1784 added hub_routing_preference to azurerm_virtual_hub
  examples/variables.tf
  modules/networking/virtual_wan/virtual_hub/virtual_hub.tf
Labels: enhancement, networking, virtual wan

#1797 Fix SQL MI regressions
  modules/databases/mssql_managed_database_v1/var/settings/srtdays.tf
  modules/databases/mssql_managed_instance/managed_instance.tf
Labels: bug, sqlmi

#1803 Fix regression sqlmi
  modules/databases/mssql_managed_database_v1/var/settings/srtdays.tf
Labels: bug, sqlmi

#1805 Create before destroy for azuread
  modules/azuread/applications/module.tf
  modules/azuread/credentials/password.tf
  modules/azuread/service_principal_password/module.tf
Labels: bug

#1796 Add app_roles for azuread_application
  .github/workflows/standalone-scenarios-azuread.json
  examples/azuread/108-azuread-application-with-app-roles/configuration.tfvars
  modules/azuread/applications_v1/azuread_application.tf
Labels: enhancement, azuread

#1801 Add az auth to postgres flexible
  examples/postgresql_flexible_server/103-simple-postgresql-flexible-with-az-auth/configuration.tfvars
  modules/databases/postgresql_flexible_server/server.tf
Labels: enhancement, postgres flexible

#1794 add msi_auth_for_monitoring_enabled flag in aks oms agent
  examples/compute/kubernetes_services/108-single-cluster-remote-adgroup-admin/aks.tfvars
  modules/compute/aks/aks.tf
Labels: enhancement, aks
