Repository aztfmod/terraform-azurerm-caf, pull requests merged in 2023-05, with the labels that each got.

#1597 Fix example azuread 106
  examples/azuread/106-azuread-application-with-api-scopes/configuration.tfvars
  modules/azuread/applications/module.tf
  modules/azuread/applications_v1/azuread_application.tf
Labels: bug

#1582 Added option to directly use a custom key id for disk encryption set.
  disk_encryption_sets.tf
  modules/security/disk_encryption_set/keyvault_policy.tf
  modules/security/disk_encryption_set/variables.tf
Labels: enhancement

#1600 Adding the support of custom bgp_community on VNET
  modules/networking/virtual_network/module.tf
Labels: enhancement, virtual network

#1603 Update Sku from VPN to Vpn
  examples/networking/virtual_network_gateway/101-vpn-site-to-site/configuration.tfvars
  examples/networking/virtual_network_gateway/102-vpn-site-to-site-active-active/configuration.tfvars
  examples/networking/virtual_network_gateway/103-vpn-site-to-site-connection/configuration.tfvars
  examples/networking/virtual_network_gateway/104-vpn-point-to-site-gateway/configuration.tfvars
  examples/networking/virtual_network_gateway/105-vpn-point-to-site-gateway-multi-auth/configuration.tfvars
Labels: bug

#1068 Generic data sources
  examples/data_sources/100-reference-data-source/configuration.tfvars
  locals.combined_objects.tf
  variables.tf
Labels: enhancement, regression tests required

#1605 Adding password to existing azuread app
  azuread_credentials.tf
Labels: enhancement, azuread

#1611 Added support for version less certificate id (rotation) in App Gateway listener certificate.
  azuread_credentials.tf
  examples/aadb2c/100-simple-aadb2c-directory/configuration.tfvars
  examples/compute/kubernetes_services/104-private-cluster/aks.tfvars
  examples/data_sources/100-reference-data-source/configuration.tfvars
  modules/networking/application_gateway_application/ssl_cert.tf
  modules/networking/private_dns_vnet_link_v1/module.tf
  modules/security/keyvault_certificate/output.tf
  modules/security/keyvault_certificate_request/global_sign.tf
Labels: enhancement, app_gateway

#1609 SQL MI native bug bash
  examples/mssql_mi/200-mi-native-two-regions/managed_databases.tfvars
  examples/mssql_mi/200-mi-native-two-regions/managed_instances.tfvars
  examples/mssql_mi/200-mi-native-two-regions/nsg.tfvars
  main.tf
  modules/databases/mssql_managed_instance_v1/failover_group/main.tf
  modules/databases/mssql_managed_instance_v1/failover_group/mi_failover_group.tf
Labels: bug, sqlmi

#1613 Fixed issues related to url path map and url path map rule creation errors
  examples/app_gateway/301-agw-v1/agw_application.tfvars
  examples/app_gateway/302-listener-ssl-policy/agw_application.tfvars
  modules/networking/application_gateway_application/scripts/set_resource.sh
  modules/networking/application_gateway_application/url_path_map.tf
  modules/networking/application_gateway_application/url_path_rule.tf
Labels: bug, app_gateway

#1612 add support for single page application to app registrations
  examples/azuread/107-azuread-application-with-single-page-application/configuration.tfvars
  modules/azuread/applications/module.tf
  modules/azuread/applications_v1/azuread_application.tf
Labels: enhancement, azuread

#1617 Fix sqlmi workflows
  .github/workflows/landingzone-scenarios.yaml
  .github/workflows/phases.yaml
  .github/workflows/rover.yaml
Labels: enhancement

#1618 Update landingzone-scenarios.yaml
  .github/workflows/landingzone-scenarios.yaml
Labels: bug

#1607 Additional fix for external disk encryption sets #1582
  disk_encryption_sets.tf
  locals.combined_objects.tf
  modules/security/disk_encryption_set/keyvault_policy.tf
  modules/security/disk_encryption_set_external/disk_encryption_set.tf
  modules/security/disk_encryption_set_external/main.tf
  modules/security/disk_encryption_set_external/output.tf
  modules/security/disk_encryption_set_external/variables.tf
Labels: bug

#1622 Pipelines feedbacks
  .devcontainer/docker-compose.yml
  .github/workflows/standalone-regressor-tf100.yaml
  .github/workflows/standalone-scenarios.json
  .github/workflows/standalone-tf100.yaml
  examples/main.tf
  examples/variables.provider.tf
  rover_on_ssh_host.yml
Labels: bug

#1625 Patch.sqlmi fix depends_on issue within sqlmi instance v0
  modules/databases/mssql_managed_instance/managed_instance.tf
Labels: bug, sqlmi

#1626 Fix combined_objects_azuread_service_principals
  locals.combined_objects.tf
Labels: bug

#1628 Fix id_token_issuance_enabled for azuread
  modules/azuread/applications_v1/azuread_application.tf
Labels: bug, azuread

#1237 Added redirect configuration for app gateway
  .github/workflows/standalone-scenarios.json
  examples/app_gateway/211-agw-with-ssl-redirect/application.tfvars
  examples/app_gateway/211-agw-with-ssl-redirect/application_gateways.tfvars
  examples/app_gateway/211-agw-with-ssl-redirect/certificates.tfvars
  examples/app_gateway/211-agw-with-ssl-redirect/configuration.tfvars
  examples/app_gateway/211-agw-with-ssl-redirect/keyvaults.tfvars
  examples/app_gateway/211-agw-with-ssl-redirect/managed_identities.tfvars
  examples/app_gateway/211-agw-with-ssl-redirect/nsg_definition.tfvars
  examples/app_gateway/211-agw-with-ssl-redirect/public_ip_addresses.tfvars
  examples/app_gateway/211-agw-with-ssl-redirect/virtual_network.tfvars
  modules/networking/application_gateway/application_gateway.tf
  modules/networking/application_gateway/locals.backend_pools.tf
Labels: enhancement, app_gateway

#1257 Allow AD group in Remote LZ as AKS Cluster Admin
  .github/workflows/standalone-scenarios.json
  aks_clusters.tf
  examples/compute/kubernetes_services/108-single-cluster-remote-adgroup-admin/aks.tfvars
  examples/compute/kubernetes_services/108-single-cluster-remote-adgroup-admin/diagnostics.tfvars
  examples/compute/kubernetes_services/108-single-cluster-remote-adgroup-admin/networking.tfvars
Labels: aks

#1623 Adding custom data example to load a file
  examples/compute/virtual_machine/101-single-windows-vm/configuration.tfvars
  examples/compute/virtual_machine/101-single-windows-vm/scripts/custom.ps1
Labels: virtual machines

#1404 Add IoT capabilities
  .github/workflows/standalone-scenarios.json
  examples/iot/100-iot-hub/cert.pem
  examples/iot/100-iot-hub/configuration.tfvars
  examples/iot/101-iot-hub-endpoints-and-file-upload/configuration.tfvars
  examples/iot/102-iot-hub-endpoints-identity-based/configuration.tfvars
  examples/iot/103-iot-hub-with-dps/cert.pem
  examples/iot/103-iot-hub-with-dps/configuration.tfvars
  examples/iot/110-iot-central-application/configuration.tfvars
  examples/iot/111-iot-security-solution/configuration.tfvars
  examples/iot/README.md
  examples/iot/main.tf
  examples/module.tf
  examples/variables.tf
  iot.tf
  local.remote_objects.tf
  locals.combined_objects.tf
  locals.tf
  modules/iot/consumer_groups/consumer_groups.tf
  modules/iot/consumer_groups/main.tf
  modules/iot/consumer_groups/output.tf
  modules/iot/consumer_groups/variables.tf
  modules/iot/iot_central_application/iot_central_application.tf
  modules/iot/iot_central_application/main.tf
  modules/iot/iot_central_application/output.tf
  modules/iot/iot_central_application/variables.tf
  modules/iot/iot_hub/certificate/certificate.tf
  modules/iot/iot_hub/certificate/main.tf
  modules/iot/iot_hub/certificate/output.tf
  modules/iot/iot_hub/certificate/variables.tf
  modules/iot/iot_hub/iot_hub.tf
  modules/iot/iot_hub/main.tf
  modules/iot/iot_hub/managed_identities.tf
  modules/iot/iot_hub/output.tf
  modules/iot/iot_hub/shared_access_policy/main.tf
  modules/iot/iot_hub/shared_access_policy/output.tf
  modules/iot/iot_hub/shared_access_policy/shared_access_policy.tf
  modules/iot/iot_hub/shared_access_policy/variables.tf
  modules/iot/iot_hub/variables.tf
  modules/iot/iot_hub_dps/dps_certificate/dps_certificate.tf
  modules/iot/iot_hub_dps/dps_certificate/main.tf
  modules/iot/iot_hub_dps/dps_certificate/output.tf
  modules/iot/iot_hub_dps/dps_certificate/variables.tf
  modules/iot/iot_hub_dps/iot_hub_dps.tf
  modules/iot/iot_hub_dps/main.tf
  modules/iot/iot_hub_dps/output.tf
  modules/iot/iot_hub_dps/shared_access_policy/main.tf
  modules/iot/iot_hub_dps/shared_access_policy/output.tf
  modules/iot/iot_hub_dps/shared_access_policy/shared_access_policy.tf
  modules/iot/iot_hub_dps/shared_access_policy/variables.tf
  modules/iot/iot_hub_dps/variables.tf
  modules/iot/security/device_group/device_group.tf
  modules/iot/security/device_group/main.tf
  modules/iot/security/device_group/output.tf
  modules/iot/security/device_group/variables.tf
  modules/iot/security/security_solution/main.tf
  modules/iot/security/security_solution/output.tf
  modules/iot/security/security_solution/security_solution.tf
  modules/iot/security/security_solution/variables.tf
  roles.tf
  variables.tf
Labels: new submodule, iot

#1629 Fix.1520 - Query Parameters in apim operations not working as intended
  examples/apim/103-api_operations/configuration.tfvars
  examples/apim/106-api_operation_tag/configuration.tfvars
  examples/apim/107-api_operation_policy/configuration.tfvars
  examples/main.tf
  main.tf
  modules/apim/api_management_api_operation/module.tf
  modules/apim/api_management_api_operation/variables.tf
Labels: bug, apim

#1418 Add Cosmos DB custom SQL role functionality
  .github/workflows/standalone-scenarios.json
  cosmos_db_roles.tf
  examples/cosmos_db/100-cosmos-db-sql-role-mapping/configuration.tfvars
  locals.tf
  modules/databases/cosmos_dbs/output.tf
  modules/databases/cosmos_dbs/sql_database.tf
  modules/databases/cosmos_dbs/sql_database/output.tf
  modules/roles/cosmosdb_custom_roles/main.tf
  modules/roles/cosmosdb_custom_roles/module.tf
  modules/roles/cosmosdb_custom_roles/output.tf
  modules/roles/cosmosdb_custom_roles/variables.tf
Labels: enhancement, cosmos

#1631 Refactor log to enabled_log
  modules/diagnostics/module.tf
Labels: enhancement

#1633 Update VPN GW to support virtual_networks + patch pdns resolvers
  examples/networking/virtual_network_gateway/104-vpn-point-to-site-gateway/configuration.tfvars
  examples/networking/virtual_network_gateway/105-vpn-point-to-site-gateway-multi-auth/configuration.tfvars
  modules/networking/private-dns-resolvers/module.tf
  modules/networking/private_dns_resolvers_dns_forwarding_rulesets/module.tf
  modules/networking/private_dns_resolvers_inbound_endpoints/module.tf
  modules/networking/private_dns_resolvers_outbound_endpoints/module.tf
  modules/networking/private_dns_resolvers_virtual_network_links/module.tf
  modules/networking/virtual_network_gateways/module.tf
  modules/networking/virtual_network_gateways/variables.tf
  networking_vngw.tf
Labels: private dns

#1635 Add bootstrap_root_ca_public_pem to vpngw
  modules/networking/virtual_network_gateways/module.tf
  modules/networking/virtual_network_gateways/variables.tf
  networking_vngw.tf
Labels: enhancement
