Repository aztfmod/terraform-azurerm-caf, pull requests merged in 2024-07, with the labels that each got.

#2019 Feat: Enhancement cognitive services
  .github/workflows/standalone-scenarios-additional.json
  cognitive_service.tf
  examples/cognitive_services/101-cognitive-services-account-managed-identity/configuration.tfvars
  modules/cognitive_services/cognitive_services_account/cognitive_service_account.tf
  modules/cognitive_services/cognitive_services_account/main.tf
  modules/cognitive_services/cognitive_services_account/output.tf
  modules/cognitive_services/cognitive_services_account/variables.tf
Labels: cognitive services

#1999 Upstream/fix storage account access tier
  examples/storage_accounts/100-simple-storage-account-blob-container/configuration.tfvars
  examples/storage_accounts/100-simple-storage-account-blob-container/keyvaults.tfvars
  modules/storage_account/storage_account.tf
Labels: enhancement, storage services

#2030 Add storage defender support
  .github/workflows/standalone-scenarios.json
  examples/storage_accounts/112-storage-account-with-defender/configuration.tfvars
  modules/storage_account/storage_defender.tf
Labels: enhancement, storage services

#2034 New combined objects and new output signalr
  locals.tf
  modules/messaging/signalr_service/output.tf
Labels: enhancement

#2042 Support for the cost_analysis_enabled property on Aks
  examples/compute/kubernetes_services/101-single-cluster/aks.tfvars
  modules/compute/aks/aks.tf
Labels: enhancement, aks

#2043 fix: inconsistent types in conditional
  modules/messaging/web_pubsub/private_endpoint.tf
Labels: enhancement
