Repository aztfmod/terraform-azurerm-caf, pull requests merged in 2024-04, with the labels that each got.

#1967 MSI role assignment for accessing the Azure Open AI service
  examples/role_mapping/102-azure-openai-managed-identity/configuration.tfvars
  roles.tf
Labels: enhancement

#1962 Add diagnostic profiles on function apps
  function_app.tf
  modules/webapps/function_app/diagnostic.tf
  modules/webapps/function_app/variables.tf
Labels: enhancement, diagnostics, function

#1956 fix(connection-monitors): Adding monitor_action_groups to rbac scopes
  roles.tf
Labels: enhancement, roles

#1878 Add AKS Istio and Open service mesh support
  .github/workflows/standalone-compute.json
  examples/compute/kubernetes_services/109-single-cluster-istio/aks.tfvars
  examples/compute/kubernetes_services/109-single-cluster-istio/diagnostics.tfvars
  examples/compute/kubernetes_services/109-single-cluster-istio/networking.tfvars
  modules/compute/aks/aks.tf
Labels: enhancement, question, aks

#1952 Add disk_encryption_set_id support to VM module
  examples/compute/virtual_machine/212-vm-disk-encryption-set/configurations.tfvars
  modules/compute/virtual_machine/vm_disk.tf
  modules/compute/virtual_machine/vm_linux.tf
  modules/compute/virtual_machine/vm_windows.tf
Labels: enhancement, virtual machines

#1969 Terraform 1.8.1 and housekeeping
  .devcontainer/docker-compose.yml
  .github/workflows/landingzone-scenarios.yaml
  .github/workflows/rover.yaml
  .github/workflows/standalone-compute.yaml
  .github/workflows/standalone-networking.yaml
  .github/workflows/standalone-regressor-tf100.yaml
  .github/workflows/standalone-tf100.yaml
  examples/compute/azure_redhat_openshift/101_basic_private_cluster/aro.tfvars
  examples/compute/azure_redhat_openshift/102_basic_public_cluster/aro.tfvars
  examples/compute/kubernetes_services/109-single-cluster-istio/aks.tfvars
  rover_on_ssh_host.yml
Labels: tooling
