Repository aztfmod/terraform-azurerm-caf, pull requests merged in 2024-03, with the labels that each got.

#1896 feat: Add scm_ip_restriction for webapps
  examples/webapps/appservice/103-appservice-extend/configuration.tfvars
  modules/webapps/appservice/module.tf
  modules/webapps/appservice/slot.tf
Labels: enhancement

#1922 feat(load_test): Adding azurerm_load_test resource
  .github/workflows/standalone-scenarios.json
  examples/load_test/100-load-test/configuration.tfvars
  examples/module.tf
  examples/variables.tf
  load_test.tf
  locals.combined_objects.tf
  locals.tf
  modules/load_test/load_test.tf
  modules/load_test/main.tf
  modules/load_test/managed_identities.tf
  modules/load_test/output.tf
  modules/load_test/variables.tf
  variables.tf
Labels: new submodule

#1934 Fix: Data factory iteration for global_parameter
  modules/data_factory/data_factory/module.tf
Labels: bug, data factory

#1940 Kusto cluster private endpoint
  .github/workflows/standalone-scenarios.json
  data_explorer.tf
  examples/data_explorer/107-private-endpoint/configuration.tfvars
  modules/databases/data_explorer/kusto_clusters/module.tf
  modules/databases/data_explorer/kusto_clusters/private_endpoint.tf
  modules/databases/data_explorer/kusto_clusters/variables.tf
  modules/networking/private_endpoint/main.tf
Labels: enhancement, private endpoints, data explorer

#1938 Postgresql flexible server private endpoint
  .github/workflows/standalone-scenarios.json
  examples/postgresql_flexible_server/104-private-endpoint/configuration.tfvars
  modules/databases/postgresql_flexible_server/private_endpoint.tf
  modules/databases/postgresql_flexible_server/variables.tf
  postgresql_flexible_servers.tf
Labels: enhancement, private endpoints, postgres flexible

#1903 feat(azurerm_postgresql_flexible_server): add Entra ID administrator
  examples/postgresql_flexible_server/103-simple-postgresql-flexible-with-az-auth/configuration.tfvars
  modules/databases/postgresql_flexible_server/server.tf
  postgresql_flexible_servers.tf
Labels: enhancement, postgres flexible

#1914 docs: add notice and remove MSFT refs
  README.md
Labels: documentation

#1933 Module databricks access connector
  databricks_access_connectors.tf
  examples/databricks_access_connectors/100-databricks_access_connectors/configuration.tfvars
  examples/module.tf
  examples/variables.tf
  local.remote_objects.tf
  locals.combined_objects.tf
  locals.tf
  modules/analytics/databricks_access_connector/main.tf
  modules/analytics/databricks_access_connector/managed_identities.tf
  modules/analytics/databricks_access_connector/module.tf
  modules/analytics/databricks_access_connector/output.tf
  modules/analytics/databricks_access_connector/variables.tf
Labels: new submodule, databricks
